.App {
  text-align: center;
  margin-top: 14%;
  
}

#modalText textarea {
text-align: center;;
  color: white;
  background-color: black;
  height: 200px;
  width: 500px;
  border-radius: 20px;
}


#modalButtons {
  text-align: center;
}

#editButtonModal {

  margin-bottom: -2000px;
}

#modalButtons button {
margin: 2px
}

html {background-color: teal; font-weight: 600; font-size: 20px;}

button{border-radius: .8em; background-color: black; color: lightgray}


